{
    "plugins": [
        "prettier-plugin-blade"
    ],
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade",
                "tabWidth": 4
            }
        }
    ],
    "printWidth": 80,
    "tabWidth": 4,
    "useTabs": false,
    "semi": false,
    "trailingComma": "all"
}
