@import "node_modules/@tabler/icons-webfont/dist/tabler-icons.min.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .auth-body {
        @apply bg-cover bg-center bg-dprimary;
        background-image: url("/resources/images/pattern.png");
    }

    .panel-body {
        @apply font-inter;
    }
}

body {
    font-family: "Inter", sans-serif;
}

#menu-btn:checked ~ #menu {
    display: block;
}

.service-card {
    transition:
        transform 0.3s,
        cursor 0.3s;
}

.service-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

#prev-btn,
#next-btn {
    transition:
        background-color 0.3s ease,
        color 0.3s ease;
}

#prev-btn:hover {
    background-color: #fd7e0b;
    color: white;
}

#next-btn:hover {
    background-color: white;
    color: #fd7e0b;
}
